{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Siglo XXI</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="{% static 'bower_components/select2/dist/css/select2.min.css'%}" rel="stylesheet">
    <link href="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.css'%}" rel="stylesheet">
    <link href="{% static 'bower_components/dropzone/dist/dropzone.css'%}" rel="stylesheet">
    <link href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.css'%}" rel="stylesheet">
    <link href="{% static 'bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css'%}" rel="stylesheet">
    <link href="{% static 'bower_components/slick-carousel/slick/slick.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">
  </head>
  <body class="auth-wrapper">
    <div class="all-wrapper menu-side with-pattern">
      <div class="auth-box-w">
        <div class="logo-w" style="padding:15%;">
          <img alt="" src="{% static 'img/remises.png'%}" style="width: 100%;">
        </div>
        <h4 class="auth-header">
          Autenticarse
        </h4>
        <form method="POST" id="form-login" action="{% url 'login' %}">{% csrf_token %}
          {% if form.errors %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert"><button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true"> ×</span></button><strong>Ups! </strong>El usuario o la contraseña son incorrectos.</div>
            {%endif%}
          <div class="form-group">
            <label for="">Usuario</label><input class="form-control" placeholder="Nombre de usuario" name="username" id="username" type="text">
            <div class="pre-icon os-icon os-icon-user-male-circle"></div>
          </div>
          <div class="form-group">
            <label for="">Contrasena</label><input class="form-control" placeholder="Contrasena" name="password" id="password" type="password">
            <div class="pre-icon os-icon os-icon-fingerprint"></div>
          </div>
          <div class="buttons-w">
          <input type="hidden" name="next" value="{{ next }}" />
            <button class="btn btn-primary" onclick="document.getElementById('form-login').submit();">Ingresar</button>
          </div>
        </form>
      </div>
    </div>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
    <script src="{% static 'bower_components/popper.js/dist/umd/popper.min.js'%}"></script>
    <script src="{% static 'bower_components/moment/moment.js'%}"></script>
    <script src="{% static 'bower_components/chart.js/dist/Chart.min.js'%}"></script>
    <script src="{% static 'bower_components/select2/dist/js/select2.full.min.js'%}"></script>
    <script src="{% static 'bower_components/jquery-bar-rating/dist/jquery.barrating.min.js'%}"></script>
    <script src="{% static 'bower_components/ckeditor/ckeditor.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap-validator/dist/validator.min.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.js'%}"></script>
    <script src="{% static 'bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js'%}"></script>
    <script src="{% static 'bower_components/dropzone/dist/dropzone.js'%}"></script>
    <script src="{% static 'bower_components/editable-table/mindmup-editabletable.js'%}"></script>
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js'%}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.js'%}"></script>
    <script src="{% static 'bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js'%}"></script>
    <script src="{% static 'bower_components/tether/dist/js/tether.min.js'%}"></script>
    <script src="{% static 'bower_components/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/util.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/alert.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/button.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/carousel.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/collapse.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/dropdown.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/modal.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/tab.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/tooltip.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/popover.js'%}"></script>
    <script src="{% static 'bower_components/dragula.js/dist/dragula.min.js'%}"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="{% static 'js/demo_customizer.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/reconnecting-websocket.min.js'%}"></script>
  </body>
</html>