{% extends "chat.html" %}
{% load staticfiles %}

{% block contentChat %}

          <div class="chat-head">
            <div class="user-info">
              <span>Para:</span><a href="#">{{pasajero.first_name}} {{pasajero.last_name}}</a>
            </div>
            <div class="user-actions">
              <a href="{% url 'ver_mensajes' pasajero.pk %}"><i class="os-icon os-icon-grid-18"></i></a>
              
            </div>
          </div>

          <div class="chat-content-w">

                        <div class="chat-content">
            
                        {% for m in mensajes %}
            
                        {% if m.origen == 'B' %}
            
                          <div class="chat-message self">
            
                            <div class="chat-message-content-w">
            
                              <div class="chat-message-content">
            
                                {{m.cuerpo_mensaje}}
            
                              </div>
            
                            </div>
            
                            <div class="chat-message-date">
            
                            {{ m.fecha|time:"H:i" }}
            
                            </div>
            
                            <div class="chat-message-avatar">
            
                              <img alt="" src="{% static 'img/avatar1.jpg'%}">
                                        </div>
            
                          </div>
            
                          {% elif m.origen == 'P' %}
            
                          <div class="chat-message">
            
                            <div class="chat-message-content-w">
            
                              <div class="chat-message-content">
            
                                {{m.cuerpo_mensaje}}
            
                              </div>
            
                            </div>
            
                            <div class="chat-message-avatar">
            
                              <img alt="" src="img/avatar3.jpg">
            
                            </div>
            
                            <div class="chat-message-date">
            
                              {{ m.fecha|time:"H:i" }}
            
                            </div>
            
                          </div>
            
                          {% endif %}
            
                          {% endfor %}
            
                        </div>
            
                      </div>
            
                      <div class="chat-controls">
            
                        <div class="chat-input">
            
                          <input placeholder="Escribir el mensaje..." type="text">
            
                        </div>
            
                        <div class="chat-input-extra">
            
                          <div class="chat-btn">
            
                            <a class="btn btn-primary btn-sm" id="{{pasajero.pk}}" href="#">Enviar</a>
            
                          </div>
            
                        </div>
            
                      </div>
       

{% endblock contentChat %}

{% block extra_js%}
{{ block.super }}
<script type="text/javascript">
  /*Socket*/
  var None = "";
  var roomName = {{ pasajero.pk }};
  
  var prot = 'ws://'
  if (window.location.protocol == 'https:') { prot = 'wss://'; }

  var chatSocket = new ReconnectingWebSocket( prot + window.location.host + '/ws/mensajes/' + roomName + '/');

  chatSocket.onmessage = function(e) {
      var data = JSON.parse(e.data);
      var message = JSON.parse(data['message']);
      add_full_chat_message(message);
      console.log('Chat Message from Socket: ' + message);
  };

  chatSocket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
  };
  /*Socket*/

	function add_full_chat_message(mensaje) {
    
    var t = new Date();
    var hours= t.getHours();
    var minutos= t.getMinutes();
    var avatar = "{% static 'img/avatar1.jpg'%}"
    if(mensaje.origen == 'B'){
      $('.chat-content').append('<div class="chat-message self"><div class="chat-message-content-w"><div class="chat-message-content">' + mensaje.data + '</div></div><div class="chat-message-date">'+hours+':'+minutos+'</div><div class="chat-message-avatar"><img alt="" src="'+avatar+'"></div></div>');
    } else {
      $('.chat-content').append('<div class="chat-message"><div class="chat-message-content-w"><div class="chat-message-content">' + mensaje.data + '</div></div><div class="chat-message-date">'+hours+':'+minutos+'</div><div class="chat-message-avatar"><img alt="" src="'+avatar+'"></div></div>');
    }
    
    var $messages_w = $('.chat-content-w');
    $messages_w.scrollTop($messages_w[0].scrollHeight);
  }
  
  //boton para agregar mensajes
  $('.chat-btn a').on('click', function () {
  	var id = $(this).attr("id");
  	var mensaje = $('.chat-input input').val();
      $.ajax({
          data:{'id_pasajero':id, 'mensaje':mensaje},
          url : "{% url 'enviarMensaje' %}",
          type: 'get',
          cache: false,
          success: function(data){
              $('.chat-input input').val('');
          },
            fail: function (data) {
                console.log("everything went to shit");
            }                  
      });      
    return false;
  });

  $('.chat-input input').on('keypress', function (e) {
    if (e.which == 13) {
      $('.chat-btn a').click();
    }
  });

  //mensajes al socket
</script>

{% endblock extra_js%}