{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head_content  %}

{% endblock %}

{% block content %}
<div class="content-i">
  <div class="content-box">

    <nav id="navigation">
      <div class="nav nav-tabs" id="nav-tab" role="tablist" style="margin-bottom: 10px;">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
          aria-controls="nav-home" aria-selected="true">Todos</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
          aria-controls="nav-profile" aria-selected="false">En curso</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
          aria-controls="nav-contact" aria-selected="false">Completados</a>
        <a class="nav-item nav-link" id="nav-abordo-tab" data-toggle="tab" href="#nav-abordo" role="tab"
          aria-controls="nav-abordo" aria-selected="false">A bordo</a>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="wrapper">
          <div class="col-sm-12 col-lg-12 col-xxl-12">
            <div class="table-responsive">
              <table id="myTable" width="100%" class="tablas table table-striped table-lightfont">
                <thead>
                  <tr>
                    <th>
                      Pasajero
                    </th>
                    <th>
                      Origen
                    </th>
                    <th>
                      Destino
                    </th>
                    <th class="sorting_asc">
                      Hora
                    </th>
                    <th>
                      Zona
                    </th>
                    <th>
                      Movil
                    </th>
                    <th>
                      Estado
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for v in viajes %}
                  <tr id="viaje{{v.id}}">
                    <td>
                      {{v.comentario}}
                    </td>
                    <td>

                      <a href="{% url 'detallePedido' v.id %}" target="_blank">{{v.origen_descripcion}}</a>
                      <a href="#" data-target="#exampleModal1" data-toggle="modal"><i class="fa fa-info-circle"></i></a>
                    </td>
                    <td>
                      {{v.destino_descripcion}}
                    </td>
                    <td>
                      {{ v.fecha_hora|time:"H:i" }}
                    </td>
                    <td class="text-center" id="editarzona{{v.id}}">
                      {% if v.zona == None %}Sin zona
                      {% else %}
                      {{v.zona}}

                      {% endif %}
                    </td>
                    <td class="text-center " id="conductor{{v.id}}" style="width: 100px;">
                      {% if v.estado == 'P' %}
                      Sin conductor

                      {% else %}
                      {{v.conductor.registro}}
                      {% endif %}
                    </td>
                    <td class="text-center" id="estado{{v.id}}">
                      {% if v.estado == 'P' %}
                      <span class="badge badge-warning">{{v.get_estado_display}}</span></td>


                    {% elif v.estado == 'E' %}
                    <span class="badge badge-secondary">{{v.get_estado_display}}</span></td>

                    {% elif v.estado == 'O' %}
                    <span class="badge badge-secondary">{{v.get_estado_display}}</span></td>

                    {% elif v.estado == 'B' %}
                    <span class="badge badge-primary">{{v.get_estado_display}}</span></td>

                    {% elif v.estado == 'C' %}
                    <span class="badge badge-danger">{{v.get_estado_display}}</span></td>
                    <td></td>
                    {% endif %}



                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>




      <!-- Viajes En curso -->
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

        <div class="wrapper">
          <div class="col-sm-12 col-lg-12 col-xxl-12">
            <div class="table-responsive">
              <table id="myTable2" width="100%" class="tablas table table-striped table-lightfont">
                <thead>
                  <tr>
                    <th>
                      Pasajero
                    </th>
                    <th>
                      Origen
                    </th>
                    <th>
                      Destino
                    </th>
                    <th class="sorting_asc">
                      Hora
                    </th>
                    <th>
                      Zona
                    </th>
                    <th>
                      Movil
                    </th>
                    <th>
                      Estado
                    </th>

                  </tr>
                </thead>
                <tbody>
                  {% for e in encurso %}
                  <tr id="viaje{{e.id}}">
                    <td>
                      {{e.comentario}}
                    </td>
                    <td>
                      <a href="{% url 'detallePedido' e.id %}" target="_blank">{{e.origen_descripcion}}</a>
                    </td>
                    <td>
                      {{e.destino_descripcion}}
                    </td>
                    <td>
                      {{ e.fecha_hora|time:"H:i" }}
                    </td>
                    <td class="text-center" id="editarzona{{e.id}}">
                      {% if e.zona == None %}Sin zona
                      {% else %}
                      {{e.zona}}
                      {% endif %}
                    </td>
                    <td class="text-center " id="conductor{{e.id}}" style="width: 100px;">
                      {% if e.estado == 'P' %}
                      Sin conductor

                      {% else %}
                      {{e.conductor.registro}}
                      {% endif %}
                    </td>
                    <td class="text-center" id="encurso{{e.id}}">

                      {% if e.estado == 'E' %}
                      <span class="badge badge-secondary">{{e.get_estado_display}}</span></td>

                    {% elif e.estado == 'O' %}
                    <span class="badge badge-secondary">{{e.get_estado_display}}</span></td>

                    {% elif e.estado == 'B' %}
                    <span class="badge badge-primary">{{e.get_estado_display}}</span></td>

                    {% elif e.estado == 'C' %}
                    <span class="badge badge-danger">{{e.get_estado_display}}</span></td>
                    <td></td>
                    {% endif %}



                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

        <div class="wrapper">
          <div class="col-sm-12 col-lg-12 col-xxl-12">
            <div class="table-responsive">
              <table id="myTable3" width="100%" class="tablas table table-striped table-lightfont">
                <thead>
                  <tr>
                    <th>
                      Pasajero
                    </th>
                    <th>
                      Origen
                    </th>
                    <th>
                      Destino
                    </th>
                    <th class="sorting_asc">
                      Hora
                    </th>
                    <th>
                      Zona
                    </th>
                    <th>
                      Movil
                    </th>
                    <th>
                      Estado
                    </th>

                  </tr>
                </thead>
                <tbody>
                  {% for o in completados %}
                  <tr id="viaje{{o.id}}">
                    <td>
                      {{o.comentario}}
                    </td>
                    <td>
                      <a href="{% url 'detallePedido' o.id %}" target="_blank">{{o.origen_descripcion}}</a>
                    </td>
                    <td>
                      {{o.destino_descripcion}}
                    </td>
                    <td>
                      {{ o.fecha_hora|time:"H:i" }}
                    </td>
                    <td class="text-center" id="editarzona{{o.id}}">
                      {% if o.zona == None %}Sin zona
                      {% else %}
                      {{o.zona}}
                      {% endif %}
                    </td>
                    <td class="text-center " id="conductor{{o.id}}" style="width: 100px;">
                      {% if o.estado == 'P' %}
                      Sin conductor

                      {% else %}
                      {{o.conductor.registro}}
                      {% endif %}
                    </td>
                    <td class="text-center" id="completado{{o.id}}">
                      {% if o.estado == 'O' %}
                      <span class="badge badge-secondary">{{o.get_estado_display}}</span></td>

                    {% elif o.estado == 'B' %}
                    <span class="badge badge-primary">{{o.get_estado_display}}</span></td>

                    {% elif o.estado == 'C' %}
                    <span class="badge badge-danger">{{o.get_estado_display}}</span></td>
                    <td></td>
                    {% endif %}



                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <div class="tab-pane fade" id="nav-abordo" role="tabpanel" aria-labelledby="nav-abordo-tab">

        <div class="wrapper">
          <div class="col-sm-12 col-lg-12 col-xxl-12">
            <div class="table-responsive">
              <table id="myTable4" width="100%" class="tablas table table-striped table-lightfont">
                <thead>
                  <tr>
                    <th>
                      Pasajero
                    </th>
                    <th>
                      Origen
                    </th>
                    <th>
                      Destino
                    </th>
                    <th class="sorting_asc">
                      Hora
                    </th>
                    <th>
                      Zona
                    </th>
                    <th>
                      Movil
                    </th>
                    <th>
                      Estado
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for b in abordo %}
                  <tr id="viaje{{b.id}}">
                    <td>
                      {{b.comentario}}
                    </td>
                    <td>
                      <a href="{% url 'detallePedido' b.id %}" target="_blank">{{b.origen_descripcion}}</a>
                    </td>
                    <td>
                      {{b.destino_descripcion}}
                    </td>
                    <td>
                      {{ b.fecha_hora|time:"H:i" }}
                    </td>
                    <td class="text-center">
                      {% if b.zona == None %}Sin zona
                      {% else %}
                      {{b.zona}}
                      {% endif %}
                    </td>
                    <td class="text-center " id="conductor{{b.id}}" style="width: 100px;">
                      {% if b.estado == 'P' %}
                      Sin conductor

                      {% else %}
                      {{b.conductor.registro}}
                      {% endif %}
                    </td>
                    <td class="text-center" id="estado{{b.id}}">
                      {% if b.estado == 'B' %}
                      <span class="badge badge-primary">{{b.get_estado_display}}</span></td>

                    {% elif b.estado == 'C' %}
                    <span class="badge badge-danger">{{b.get_estado_display}}</span></td>
                    <td></td>
                    {% endif %}



                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="col-sm-12 col-lg-4 col-xxl-4">
    <div class="wrapper2">
      <div class="content-panel compact color-scheme-dark" style="min-height: 100vh;">
        <div class="element-wrapper compact">
          <div class="element-actions actions-only">
            <a class="element-action element-action-fold" href="#"><i class="os-icon os-icon-minus-circle"></i></a>
          </div>
          <h6 class="element-header" style="margin-bottom: 0.5rem;">
            Cargar viaje nuevo
          </h6>
          <div class="element-box-tp">

            <!-- Formulario para la carga de pedidos -->

            <form name="form2" id="form2" role="form">

              <div class="col-12">
                <div class="form-group pasajero">
                  <label for=""> Nombre Pasajero</label>
                  <input class="form-control" value="" id="nombreform" placeholder="Nombre" type="text" required />

                  <div class="help-block form-text with-errors form-control-feedback"></div>

                </div>
              </div>

              <div class="col-12">
                <div class="form-group telefono">
                  <label for="">Telefono</label>
                  <input class="form-control" placeholder="Ingresar nro telefono" type="text" />
                  <div class="help-block form-text with-errors form-control-feedback"></div>
                </div>
              </div>


              <div class="col-12">
                <div class="form-group tipo"><label for=""> Tipo</label><select class="form-control" id="select1">
                    <option value="W">Whatsapp</option>
                    <option value="T">Telefono</option>
                    <option value="D">Diferido</option>
                  </select></div>
              </div>

              <div class="col-sm-12">

                <div class="form-group fecha"><label for="">Fecha y hora</label>
                  <input class="form-control" id="datetimepicker" type="text">
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group origen">
                  <label for=""> Origen</label>
                  <input type="text" class="form-control" id="search_origen" placeholder="Buscar Origen..." required />
                  <input type="hidden" id="origen_loc_lat" />
                  <input type="hidden" id="origen_loc_long" />
                  <div class="help-block form-text with-errors form-control-feedback"></div>
                </div>

                <div class="col-sm-12">
                  <div class="form-group destino">
                    <label for="">Destino</label>
                    <input type="text" class="form-control" id="search_destino" placeholder="Buscar Destino..."
                      required />
                    <input type="hidden" id="destino_loc_lat" />
                    <input type="hidden" id="destino_loc_long" />
                    <div class="help-block form-text with-errors form-control-feedback"></div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group comentario">
                  <label for="">Comentario</label>
                  <input class="form-control" placeholder="Comentario" type="text" />
                </div>
              </div>


              <button class="btn btn-primary" id="pepe" type="submit"> Cargar</button>



            </form>



          </div>
        </div>


      </div>
    </div>




    <div id="snackbar"></div>


  </div>
  {% endblock content %}





  {% block extra_js%}

  <link rel="stylesheet" type="text/css" href="{% static 'datetimepicker-master/jquery.datetimepicker.css'%}" />
  <script src="{% static 'datetimepicker-master/build/jquery.datetimepicker.full.min.js'%}"></script>


  <script type="text/javascript">
    jQuery('#datetimepicker').datetimepicker({
      format: 'd/m/Y H:i',

    });
    jQuery.datetimepicker.setLocale('es');

    $(function () {
      var dateNow = new Date();
      $('#datetimepicker').datetimepicker({
        defaultDate: dateNow,
        value: dateNow
      });

    });

  </script>

  <script type="text/javascript">
    //boton para agregar mensajes

    $('#form2').submit(function (event) {


      var pasajero = $('.pasajero input').val();
      var origen_desc = $('.origen input').val();
      var destino_desc = $('.destino input').val();
      var tipo = $('#select1').val();
      var telefono = $('.telefono input').val();
      var comentario = $('.comentario input').val();
      var fecha = $('.fecha input').val();
      var origenLat = $('#origen_loc_lat').val();
      var origenLong = $('#origen_loc_long').val();
      var destinoLat = $('#destino_loc_lat').val();
      var destinoLong = $('#destino_loc_long').val();
      var y = document.getElementById("snackbar");
      $('#pepe').html('<div class="loader"></div>');
      $.ajax({
        data: {
          'pasajero': pasajero,
          'origen': origen_desc,
          'destino': destino_desc,
          'tipo': tipo,
          'fecha': fecha,
          'telefono': telefono,
          'origenLat': origenLat,
          'origenLong': origenLong,
          'destinoLat': destinoLat,
          'destinoLong': destinoLong
        },
        url: "{% url 'pedidoChat' %}",
        type: 'get',
        cache: false,
        success: function (data) {
          console.log("todo tranca");
          let url = "{% url 'detallePedido' pk=123 %}".replace('123', data.id);
          salida = '<tr><td>' + data.comentario + '</td>'
          salida += '<td><a href="' + url + '" target="_blank">' + data.origen_descripcion + '</a></td>'
          salida += '<td>' + data.destino_descripcion + '</td>'
          salida += '<td>' + data.fecha_hora + '</td>'
          salida += '<td>' + data.nombre_zona + '</td>'
          salida += '<td>Sin movil</td>'
          salida += '<td class="text-center" id="estado' + data.id + '"><span class="badge badge-warning">Pendiente</span></td><tr>'
          $('#myTable').prepend(salida);
          $('#snackbar').html('El pedido fue cargado con exito');
          $("#form2 input").val('');

          jQuery.datetimepicker.setLocale('es');

          $(function () {
            var dateNow = new Date();
            $('#datetimepicker').datetimepicker({
              defaultDate: dateNow,
              value: dateNow
            });

          });

          y.className = "show";
          setTimeout(function () { y.className = y.className.replace("show", ""); }, 3000);
          $('#pepe').html('Cargar');
          $('#nombreform').focus();


        },
        fail: function (data) {
          console.log("everything went to shit");
          $('#snackbar').html('Ocurrio un error al cargar el pedido, intentelo nuevamente');
          y.className = "show";
          setTimeout(function () { y.className = y.className.replace("show", ""); }, 3000);
          $('#boton').html('<a class="btn btn-primary" href="#">Enviar</a>');
        }

      });


      return false;
    });




    $('.destino input').on('keypress', function (e) {
      if (e.which == 13) {
        $('.pedido-btn a').click();
      }
    });


  </script>

  <script
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyA9iZuX2KqmVYuVletp8nCK0uQMVYZQCsA"></script>

  <script type="text/javascript">
    var searchOrigen = 'search_origen';
    var searchDestino = 'search_destino';
    //para buscar en un area especifica se pasa como parametro la esquina noreste y la suroeste


    $(document).ready(function () {
      var autocomplete;
      var ctesBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(-27.53303, -58.902476),
        new google.maps.LatLng(-27.416977, -58.722613));
      autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchOrigen)), {

        types: ['address'],
        bounds: ctesBounds,
        strictBounds: true
      });

      google.maps.event.addListener(autocomplete, 'place_changed', function () {
        var near_place = autocomplete.getPlace();
        document.getElementById('origen_loc_lat').value = near_place.geometry.location.lat();
        document.getElementById('origen_loc_long').value = near_place.geometry.location.lng();


      });
    });

    $(document).ready(function () {
      var autocomplete2;
      var ctesBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(-27.53303, -58.902476),
        new google.maps.LatLng(-27.416977, -58.722613));

      autocomplete2 = new google.maps.places.Autocomplete((document.getElementById(searchDestino)), {

        types: ['address'],
        bounds: ctesBounds,
        strictBounds: true
      });

      google.maps.event.addListener(autocomplete2, 'place_changed', function () {
        var near_place = autocomplete2.getPlace();
        document.getElementById('destino_loc_lat').value = near_place.geometry.location.lat();
        document.getElementById('destino_loc_long').value = near_place.geometry.location.lng();


      });
    });

    $(document).on('change', '#' + searchOrigen, function () {
      document.getElementById('origen_loc_lat').value = '';
      document.getElementById('origen_loc_long').value = '';

    });
    $(document).on('change', '#' + searchDestino, function () {
      document.getElementById('destino_loc_lat').value = '';
      document.getElementById('destino_loc_long').value = '';

    });
  </script>




  {% endblock extra_js%}