{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="content-i">
  <div class="content-box">
    <div class="full-chat-w">
      <div class="full-chat-i">
        <div class="full-chat-left">
          <div class="os-tabs-w">
            <ul class="nav nav-tabs upper centered">
            <li class="nav-item">
            <a class="nav-link active" data-target="#exampleModal1" data-toggle="modal" href="#tab_overview">
            <i class="ti-plus"></i><span>Cargar Pedido</span></a></li></ul>
          </div>
          <div class="chat-search">
            <div class="element-search">
              <input placeholder="Buscar ..." type="text">
            </div>
          </div>
          <div class="user-list">
          {% for v in viajes %}
          <a class="room-link" id="item{{ v.pasajero.pk }}" search-text="{{v.pasajero|lower}},{{v.pasajero.telephone}},{{v.get_estado_display|lower}},{{v.conductor.registro|lower}}">
            <div class="user-w with-status status-green" id="user-w{{ v.pasajero.pk }}">
              <div class="avatar">
                <img alt="" src="{{v.pasajero.user.userthumb.social_thumb}}">
              </div>
              <div class="user-info">
                <div class="user-date">
                  {{ v.fecha_hora|time:"H:i" }}
                </div>
                <div class="user-name">
                  {{v.pasajero}} 
                  {% if v.tipo == 'W' %}
                  <i class="fab fa-whatsapp"></i>
                  {% elif v.tipo == 'T' %}
                  <i class="fas fa-phone"></i>
                  {% elif v.tipo == 'D' %}
                  <i class="far fa-clock"></i>
                  {% else %}

                  {% endif %}
                </div>

                <div class="row">
                  <div class="last-message" id="estado{{v.pasajero.pk}}">
                  <p class="text-secondary">{{v.get_estado_display}}-</p>
                </div>
                <div class="last-message" id="datos">{{v.pasajero.telephone}} - M: {{v.conductor.registro}}</div>
                
                
                </div>

                <div class="contador_pendientes">
                  <div class="messages-notifications os-dropdown-trigger os-dropdown-position-left"><div class="pendientes" id="count{{v.pasajero.pk}}">0</div></div>
                </div>
                <div class="viaje" hidden>{{v.id}}</div>

              </div>
            </div></a>
          {% endfor %}
            
            
          </div>
        </div>

    <!-- START CONTENT -->
    <div class="full-chat-middle" id="chats">       
          
      </div>
      <!-- END CONTENT -->


      
      </div>

      
    </div>
  </div>
</div>

      <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal1" role="dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Cargar Nuevo Pedido
            </h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
          </div>
          <div class="modal-body">
            <form name="form2" id="form2" data-toggle="validator" role="form">
            <div class="row">
            <div class="col-6">
              <div class="form-group pasajero">
                <label for=""> Nombre Pasajero</label><input class="form-control" id="nombreform" placeholder="Nombre" type="text" data-error="Nombre obligatorio" required="required">

                <div class="help-block form-text with-errors form-control-feedback"></div>

              </div>
              </div>
              <div class="col-6">
              <div class="form-group telefono">
                  <label for="">Telefono</label>
                  <input class="form-control" placeholder="Ingresar nro telefono" type="text" data-error="Campo obligatorio" required="required">
                <div class="help-block form-text with-errors form-control-feedback"></div>
              </div>
              </div>
              </div>
              <div class="row">
              <div class="col-6">
              <div class="form-group tipo"><label for=""> Tipo</label><select class="form-control" id="select1">
                <option value="W">Whatsapp</option>
                <option value="T">Telefono</option>
                <option value="D">Diferido</option>
              </select></div>
            </div>
              <div class="col-sm-6">

                        <div class="form-group fecha"><label for="">Fecha y hora</label>
                            <input class="form-control" id="datetimepicker" type="text" >
                        </div>
                        </div>
                      </div>
              <div class="form-group origen">
                    <label for=""> Origen</label>
                    <input type="search" id="origen" class="form-control" placeholder="Buscar una direccion en Corrientes" data-error="Destino obligatorio" required="required" />
                <div class="help-block form-text with-errors form-control-feedback"></div>
              </div>
              <div class="form-group destino">
                  <label for="">Destino</label>
                  <input type="search" id="destino" class="form-control" placeholder="Buscar una direccion en Corrientes" data-error="Destino obligatorio" required="required"/>
                <div class="help-block form-text with-errors form-control-feedback"></div>
              </div>

              
              
                    
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" type="button"> Cerrar</button>
            <div class="pedido-btn" id="boton">
                <a class="btn btn-primary" id="pepe" href="#">Enviar</a>
              </div>
          </div>
        </div>
      </div>
      
    </div>
<div id="snackbar"></div>
 
{% endblock content %}

{% block extra_js%}
<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
<script type="text/javascript">
hotkeys('1,2,3,4', function(event,handler) {
  event.preventDefault();
  switch(handler.key){
    case "1":
      $('.chat-input input').val("Buenos dias, su pedido esta siendo procesado. En breve le enviaremos un movil");
      $('.chat-input input').focus();
      break;
      case "2":
      $('.chat-input input').val("En este momento tenemos una demora de 10 minutos.");
      $('.chat-input input').focus();
      break;
      case "3":
      $('.chat-input input').val("Gracias por viajar con nosotros. Que tenga buen dia!");
      $('.chat-input input').focus();
      break;
      case "4":
      $('.chat-input input').val("");
      $('.chat-input input').focus();
      break;

  }
});
</script>
<link rel="stylesheet" type="text/css" href="{% static 'datetimepicker-master/jquery.datetimepicker.css'%}"/ >
    <script src="{% static 'datetimepicker-master/build/jquery.datetimepicker.full.min.js'%}"></script>


<script type="text/javascript">
                           jQuery('#datetimepicker').datetimepicker({
  format:'d/m/Y H:i',

});
      jQuery.datetimepicker.setLocale('es');

  $(function () {
        var dateNow = new Date();
        $('#datetimepicker').datetimepicker({
            defaultDate:dateNow,
            value: dateNow
        });

    });
                    </script>
<script type="text/javascript">
  //boton para agregar mensajes
  $('.pedido-btn a').on('click', function (event) {

    var pasajero = $('.pasajero input').val();
    var origen = $('.origen input').val();
    var destino = $('.destino input').val();
    var tipo = $('#select1').val();
    var telefono = $('.telefono input').val();
    var fecha = $('.fecha input').val();
    var y = document.getElementById("snackbar");
    $('#pepe').html('<div class="loader"></div>');
    $.ajax({
                data:{'pasajero':pasajero, 'origen':origen, 'destino':destino, 'tipo':tipo, 'fecha':fecha, 'telefono':telefono},
                url : "{% url 'pedidoChat' %}",
                type: 'get',
                cache: false,
                success: function(data){
                    console.log("todo tranca");
                    //$('#user-list').prepend();
                    $('#exampleModal1').modal('hide');
                    $('#snackbar').html('El pedido fue cargado con exito');
                    $('#exampleModal1').on('hidden.bs.modal', function(e) {
                        $(this).find('#form2')[0].reset();
                        var dateNow = new Date();
                        $('#datetimepicker').datetimepicker({
                            defaultDate:dateNow,
                            value: dateNow
                        });
                    });

                    y.className = "show";
                    setTimeout(function(){ y.className = y.className.replace("show", ""); }, 3000);
                    $('#pepe').html('Enviar');


                },
                  fail: function (data) {
                      console.log("everything went to shit");
                      $('#snackbar').html('Ocurrio un error al cargar el pedido, intentelo nuevamente');
                    y.className = "show";
                    setTimeout(function(){ y.className = y.className.replace("show", ""); }, 3000);
                    $('#boton').html('<a class="btn btn-primary" href="#">Enviar</a>');
                  }
                
            });

    
    return false;
  });

  


  $('.destino input').on('keypress', function (e) {
      if (e.which == 13) {
        $('.pedido-btn a').click();
         }
      });

  $('.element-search').find('input').on('keyup', function(){
      var searchTerm = $(this).val().toLowerCase();
      $('.room-link').each(function(){
          if ($(this).filter('[search-text *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
              $(this).show();
          } else {
              $(this).hide();
          }
      });
  });

  
  $(document).ready(function() {
  $('#exampleModal1').on('shown.bs.modal', function() {
    $('#datetimepicker1').datetimepicker('destroy');
    $('#nombreform').trigger('focus');
  });
});

</script>

<script type="text/javascript">
        /*Socket*/        
        // Room join/leave
         function join_room(div, socket) {
           if(socket != undefined){
              $('#user-w'+$(".room-chat").attr('id')).css("background-color", "");

              var pasajero = parseInt($(div).attr("id").substring(4));
              socket.send(JSON.stringify({
                  "command": "join",
                  "room": pasajero
              }));
              
              $('#count'+pasajero).hide();
              $('#count'+pasajero).html(0);

              $('#user-w'+pasajero).css("background-color", "#d7d7d7");                
           }
        };

        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/ws/mensajes/";
            console.log("Connecting to " + ws_path);
            var socket = new ReconnectingWebSocket(ws_path);

            // Handle incoming messages
            socket.onmessage = function (message) {
                // Decode the JSON
                var data = JSON.parse(message.data);
                // Handle errors
                if (data.error) {
                    alert(data.error);
                    return;
                }
                // Handle joining
                if (data.join) {
                  var nombre = $('#user-w'+data.pasajero).find('.user-name').html();
                  var telefono = $('#user-w'+data.pasajero).find('#datos').html();
                  var msjs = '<div class="chat-content-w"><div class="chat-content">';
                  var mensajes = data.mensajes;

                  for(var m in mensajes) {
                    if (mensajes[m].origen == 'B') {
                      msjs += '<div class="chat-message self"><div class="chat-message-content-w"><div class="chat-message-content">' + 
                          mensajes[m].cuerpo_mensaje +
                        '</div></div><div class="chat-message-date">' + 
                        mensajes[m].hora +
                      '</div></div>';
                  }else if(mensajes[m].origen == 'P'){
                    msjs += '<div class="chat-message"><div class="chat-message-content-w"><div class="chat-message-content">' + 
                      mensajes[m].cuerpo_mensaje +
                        '</div></div><div class="chat-message-date">' +
                          mensajes[m].hora + 
                      '</div></div>';
                    } }
                  
                    msjs += '</div></div>' + '<div class="chat-controls"><div class="chat-input"><input placeholder="Escribir el mensaje..." type="text"></div><div class="chat-input-extra"><div class="chat-btn"><a class="btn btn-primary btn-sm" href="#">Enviar</a></div>';
                    
                    //if (data.estado == 'F') {
                      //msjs += '</div></div>';
                    //}//else{
                      //msjs += '<div class="fin-btn"><a class="btn btn-success btn-sm" href="#">Finalizar viaje</a></div></div></div>';
                    //}
                    

                    var roomdiv = $(
                        '<div class=room-chat id='+data.join+'>'+
                        '<div class="chat-head">' +
                          '<div class="user-info">' +
                            '<span>Para: </span><a>' + nombre +' - ' + telefono +'</a>' +
                          '</div>' +
                        '</div>' + msjs + '</div>'
                    );
                                        
                    // Finalizar el viaje
                    roomdiv.find(".fin-btn a").on("click", function () {
                      var userdiv = $('#user-w'+data.pasajero);
                      var viaje = userdiv.find(".viaje").html();
                      $('#estado'+data.pasajero).html('<span class="badge badge-success">Finalizado</span>');
                      socket.send(JSON.stringify({
                          "command": "finviaje",
                          "room": data.join,
                          "message": viaje
                      }));
                      return false;
                    });

                    // Hook up send button to send a message
                    roomdiv.find(".chat-btn a").on("click", function () {
                      var m = roomdiv.find('.chat-input input').val()
                      if (m != ''){
                        socket.send(JSON.stringify({
                            "command": "send",
                            "room": data.join,
                            "message": m 
                        }));
                        roomdiv.find('.chat-input input').val("");
                      }
                      return false;
                    });
                    roomdiv.find('.chat-input input').on('keypress', function (e) {
                      if (e.which == 13) {
                        roomdiv.find('.chat-btn a').click();
                      }
                    });

                    $("#chats").html(roomdiv);
                    var $messages_w = $('.chat-content-w');
                    $messages_w.scrollTop($messages_w[0].scrollHeight);

                    // Handle leaving
                } else if (data.leave) {
                    console.log("Leaving room " + data.leave);
                    $(".room-chat").remove();
                    // Handle getting a message
                } else if (data.message || data.msg_type != 0) {
                  
                    var ok_msg = "";
                    // msg types are defined in chat/settings.py
                    // Only for demo purposes is hardcoded, in production scenarios, consider call a service.
                    switch (data.msg_type) {
                        case 0:
                          // Nuevo Message
                          mensaje = data.message;
                          if (typeof mensaje === "string"){
                            mensaje = JSON.parse(mensaje);
                          }

                          if (data.room == $(".room-chat").attr('id')) {
                            var t = new Date();
                            var hours= t.getHours();
                            var minutos= t.getMinutes();

                            if(mensaje.origen == 'B'){
                              $('.chat-content').append('<div class="chat-message self"><div class="chat-message-content-w"><div class="chat-message-content">' + mensaje.data + '</div></div><div class="chat-message-date">'+hours+':'+minutos+'</div></div>');
                            } else {
                              $('.chat-content').append('<div class="chat-message"><div class="chat-message-content-w"><div class="chat-message-content">' + mensaje.data + '</div></div><div class="chat-message-date">'+hours+':'+minutos+'</div></div>');
                            }
                            
                            var $messages_w = $('.chat-content-w');
                            $messages_w.scrollTop($messages_w[0].scrollHeight);
                          }else{   
                            if(mensaje.origen == 'P'){                         
                              var cant = Number($('#count'+data.room).html()) + 1;
                              $('#count'+data.room).html(cant);
                              $('#count'+data.room).show();
                            }
                          }
                          
                          if (mensaje.tipo='R') {
                            $('#user-w'+data.room).toggleClass('status-green status-red');    
                            $('#item'+data.room).prependTo('.user-list');
                          }
                          
                          break;
                        case 1:
                            // Warning / Advice messages
                            break;
                        case 2:
                            // Alert / Danger messages
                            break;
                        case 3:
                            // "Muted" messages
                            break;
                        case 4:
                            // User joined room
                            $('#count'+data.room).hide();
                            $('#count'+data.room).html(0);
                            break;
                        case 5:
                            // User left room
                            break;
                        case 6:
                            // Nuevo Viaje
                            console.log(data)
                            datos = data.message;
                            if (typeof datos === "string"){
                              datos = JSON.parse(datos);
                            }
                            switch (datos.estado){
                              case('P'):
                                userdiv = $('#item'+data.room);
                                if (userdiv.length == 0) {
                                  //Nuevo pasajero
                                  var tipo;
                                  if (datos.tipo=='W'){
                                      tipo = '<i class="fab fa-whatsapp"></i>';
                                  }else if(datos.tipo=='T'){
                                    tipo = '<i class="fas fa-phone"></i>';
                                  }else if(datos.tipo=='D'){
                                    tipo = '<i class="far fa-clock"></i>';
                                  }else{
                                      tipo = '<i class="fas fa-mobile-alt"></i>';
                                  }
                                  $('.user-list').prepend('<a class="room-link" id="item'+data.room+'" search-text="'+datos.nombre_pasajero+','+datos.cel_pasajero+','+datos.movil+'"><div class="user-w with-status status-green" id="user-w'+data.room+'">' +
                                      '<div class="avatar"><img alt="" src="'+datos.img_pasajero+'"></div>' +
                                      '<div class="user-info"><div class="user-date">'+datos.fecha_hora+'</div>'+
                                      
                                      '<div class="user-name">'+datos.nombre_pasajero+tipo+'</div><div class="row"><div class="last-message"><p class="text-secondary">pendiente-</p></div><div class="last-message" id="datos">'+datos.cel_pasajero+' - Movil: '+datos.movil+'</div></div>'+
                                      '<div class="contador_pendientes"><div class="messages-notifications os-dropdown-trigger os-dropdown-position-left">' +
                                      '<div class="pendientes" id="count'+data.room+'"></div></div></div><div class="viaje" hidden>'+datos.id+'</div></div></div></a>');
                                }else{
                                  userdiv.find('.user-date').html(datos.fecha_hora);     
                                  userdiv.find('.last-message').html('<span class="badge badge-warning">Pendiente</span>');    
                                  userdiv.prependTo('.user-list');
                                }      

                                $(".room-link").click(function(){
                                  join_room(this, socket)
                                });                         
                                break;

                              case('E'):
                                $('#user-w'+data.room).find('.last-message').html('<span class="badge badge-secondary">En Curso</span>'); 
                                $('#item'+data.room).attr('search-text', datos.nombre_pasajero+','+datos.cel_pasajero+','+datos.movil);
                                $('#user-w'+data.room).find('#datos').html(datos.cel_pasajero+' - Movil: '+datos.movil);         
                                break;

                              case('B'):          
                                $('#user-w'+data.room).find('.last-message').html('<span class="badge badge-primary">Pasajero a Bordo</span>'); 
                                $('#item'+data.room).attr('search-text', datos.nombre_pasajero+','+datos.cel_pasajero+','+datos.movil);  
                                $('#user-w'+data.room).find('#datos').html(datos.cel_pasajero+' - Movil: '+datos.movil);            
                                break;

                              case('F'):
                                $('#user-w'+data.room).find('.last-message').html('<span class="badge badge-success">Finalizado</span>');
                                $('#user-w'+data.room).toggleClass('status-green');    
                                $('#item'+data.room).attr('search-text', datos.nombre_pasajero+','+datos.cel_pasajero+','+datos.movil);  
                                $('#user-w'+data.room).find('#datos').html(datos.cel_pasajero+' - Movil: '+datos.movil);            
                                break;

                              case('C'):                                
                                $('#user-w'+data.room).find('.last-message').html('<span class="badge badge-danger">Cancelado</span>');
                                $('#user-w'+data.room).toggleClass('status-green'); 
                                $('#item'+data.room).attr('search-text', datos.nombre_pasajero+','+datos.cel_pasajero+','+datos.movil);    
                                $('#user-w'+data.room).find('#datos').html(datos.cel_pasajero+' - Movil: '+datos.movil);          
                                break;
                              }
                            break;

                        default:
                            console.log("Unsupported message type!");
                            return;
                    }
                    //msgdiv.append(ok_msg);
                    //msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                } else {
                    console.log("Cannot handle message!");
                }
            };          
            
            $(".room-link").click(function(){
              join_room(this, socket)
            });

            // Helpful debugging
            socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
        });

  //mensajes al socket
</script>

<script src="https://cdn.jsdelivr.net/npm/places.js@1.10.0"></script>
<script>
(function() {
  var latlng = {
    lat: -27.479528,
    lng: -58.812990
  };
  var placesAutocomplete1 = places({
    container: document.querySelector('#origen'),
    aroundLatLng: latlng.lat + ',' + latlng.lng, // Paris latitude longitude
    aroundRadius: 10 * 1000, // 10km radius
    type: 'address',
  });
  
  var $origen = document.querySelector('#origen-value')
  placesAutocomplete1.on('change', function(e) {
    $origen.textContent = e.suggestion.latlng.lat()
  });


  var placesAutocomplete2 = places({
    container: document.querySelector('#destino'),
    aroundLatLng: latlng.lat + ',' + latlng.lng, // Paris latitude longitude
    aroundRadius: 10 * 1000, // 10km radius
    type: 'address',
  });

  var $destino = document.querySelector('#destino-value')
  placesAutocomplete2.on('change', function(e) {
    $destino.textContent = e.suggestion.latlng.lat()
  });

  placesAutocomplete1.on('clear', function() {
    $destino.textContent = 'none';
  });

  placesAutocomplete2.on('clear', function() {
    $origen.textContent = 'none';
  });
})();
</script>

{% endblock extra_js%}