{% load static %}
<html><head>
	
	<title>Ubicacion de moviles</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico">
	<link href="{% static 'css/leaflet.extra-markers.min.css'%}" rel="stylesheet">
	<link href="{% static 'leaflet-search-master/src/leaflet-search.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="">
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
	<script src="{% static 'js/reconnecting-websocket.min.js'%}"></script>

	
</head>
<body>

<div id="map" style="width: 100%; height: 100%; position: relative;"></div>
<script src="{% static 'js/leaflet.extra-markers.min.js'%}"></script>
<script src="{% static 'leaflet-search-master/src/leaflet-search.js'%}"></script>
<script>
	var data = {{moviles_json}};
	//sample data values for populate map
	var map = new L.Map('map', {zoom: 14, center: new L.latLng([-27.48, -58.80]) });	//set center from first location
	map.addLayer(new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'));	//base layer
	var markersLayer = new L.LayerGroup();	//layer contain searched elements
	var todos_cosos = [];

	map.addLayer(markersLayer);
	var controlSearch = new L.Control.Search({
		position:'topleft',		
		layer: markersLayer,
		initial: false,
		zoom: 18,
		marker: false
	});
	map.addControl( controlSearch );
	////////////populate map with markers from sample data
	for(i in data) {

		var numMarker = L.ExtraMarkers.icon({
			icon: 'fa-number',
			shape: 'square',
			number: data[i].registro,
			markerColor: 'blue'
			});

		var title = data[i].registro,	//value searched
			loc = [data[i].ultima_ubicacion.coordinates[0], data[i].ultima_ubicacion.coordinates[1]]		//position found
			marker = new L.Marker(new L.latLng(loc), {title: title, icon: numMarker} );//se property searched
		marker.bindPopup('title: '+ title );
		markersLayer.addLayer(marker);
		todos_cosos[data[i].registro] = marker;
	}
	
	//SOCKET UBICAICIONES
	var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
	var ws_path = ws_scheme + '://' + window.location.host + "/ws/ubicaciones/";
	var socket = new ReconnectingWebSocket(ws_path);

	// Handle incoming messages
	socket.onmessage = function (message) {
		// Decode the JSON
		var data = JSON.parse(message.data);
		// Handle errors
		data = data.message;
		console.log(data);		
		todos_cosos[data.registro].remove();

		var numMarker = L.ExtraMarkers.icon({
			icon: 'fa-number',
			shape: 'square',
			number: data.registro,
			markerColor: 'blue'
			});

		var title = data.registro,	//value searched
			loc = data.ubicacion.split(","); //position found
			marker = new L.Marker(new L.latLng(loc), {title: title, icon: numMarker} ); //se property searched

		marker.bindPopup('title: '+ title );		
		markersLayer.addLayer(marker);
		
		todos_cosos[data.registro] = marker;
	}

</script>

</body></html>