<div id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="wrapper">
        <div class="col-sm-12 col-lg-12 col-xxl-12">
            <div class="table-responsive">
                <table id="myTable2" width="100%" class="tablas table table-striped table-lightfont">
                    <thead>
                        <tr>
                            <th>
                                Pasajero
                            </th>
                            <th>
                                Origen
                            </th>
                            <th>
                                Destino
                            </th>
                            <th class="sorting_asc">
                                Hora
                            </th>
                            <th>
                                Zona
                            </th>
                            <th>
                                Movil
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Accion
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in encurso %}
                        <tr id="viaje{{e.id}}">
                            <td>
                                {{e.pasajero}}
                            </td>
                            <td>
                                <a href="{% url 'detallePedido' e.id %}" target="_blank">{{e.origen_descripcion}}</a>
                            </td>
                            <td>
                                {{e.destino_descripcion}}
                            </td>
                            <td>
                                {{ e.fecha_hora|time:"H:i" }}
                            </td>
                            <td class="text-center" id="editarzona{{e.id}}">
                                {% if e.zona == None %}Sin zona
                                {% else %}
                                {{e.zona}}
                                {% endif %}
                            </td>
                            <td class="text-center " id="conductor{{e.id}}" style="width: 100px;">
                                {% if e.estado == 'P' %}
                                <select class="form-control js-example-basic-single zona{{e.zona.pk}}"
                                    id="selectviaje{{e.id}}">
                                    {% if e.zona == None %}
                                    {% for y in conductores %}
                                    <option value="{{y.dni}}">{{y.registro}}</option>
                                    {% endfor %}

                                    {% else %}

                                    {% for c in  e.zona.obtenerConductores2 %}
                                    <option value="{{c.dni}}" class="porzona{{c.dni}}">{{c.registro}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>

                                {% else %}
                                {{e.conductor.registro}}
                                {% endif %}
                            </td>
                            <td class="text-center" id="encurso{{e.id}}">

                                {% if e.estado == 'E' %}
                                <span class="badge badge-secondary">{{e.get_estado_display}}</span></td>
                            <td class="row-actions" id="aencurso{{e.id}}">
                                <a href="#" class="cambiarEstado" id="{{e.id}}"><i
                                        class="os-icon os-icon-arrow-down4"></i></a>
                                <a href="#" class="editar" id="{{e.id}}"><i class="os-icon os-icon-ui-49"></i></a>
                                <a href="#" class="cancelar" id="{{e.id}}"><i
                                        class="os-icon os-icon-cancel-circle"></i></a>
                            </td>
                            {% elif e.estado == 'O' %}
                            <span class="badge badge-secondary">{{e.get_estado_display}}</span></td>
                            <td class="row-actions" id="aencurso{{e.id}}">
                                <a href="#" class="cambiarEstado" id="{{e.id}}"><i
                                        class="os-icon os-icon-arrow-down4"></i></a>
                                <a href="#" class="editar" id="{{e.id}}"><i class="os-icon os-icon-ui-49"></i></a>
                                <a href="#" class="cancelar" id="{{e.id}}"><i
                                        class="os-icon os-icon-cancel-circle"></i></a>
                            </td>
                            {% elif e.estado == 'B' %}
                            <span class="badge badge-primary">{{e.get_estado_display}}</span></td>
                            <td class="row-actions" id="aencurso{{e.id}}">
                                <a href="#" class="editar" id="{{e.id}}"><i class="os-icon os-icon-ui-49"></i></a>
                                <a href="#" class="cancelar" id="{{e.id}}"><i
                                        class="os-icon os-icon-cancel-circle"></i></a>
                            </td>
                            {% elif e.estado == 'C' %}
                            <span class="badge badge-danger">{{e.get_estado_display}}</span></td>
                            <td></td>
                            {% endif %}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>