<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

    <div class="wrapper">
        <div class="col-sm-12 col-lg-12 col-xxl-12">
            <div class="table-responsive">
                <table id="myTable3" width="100%" class="tablas table table-striped table-lightfont">
                    <thead>
                        <tr>
                            <th>
                                Pasajero
                            </th>
                            <th>
                                Origen
                            </th>
                            <th>
                                Destino
                            </th>
                            <th class="sorting_asc">
                                Hora
                            </th>
                            <th>
                                Zona
                            </th>
                            <th>
                                Movil
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Accion
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for o in completados %}
                        <tr id="viaje{{o.id}}">
                            <td>
                                {{o.pasajero}}
                            </td>
                            <td>
                                <a href="{% url 'detallePedido' o.id %}" target="_blank">{{o.origen_descripcion}}</a>
                            </td>
                            <td>
                                {{o.destino_descripcion}}
                            </td>
                            <td>
                                {{ o.fecha_hora|time:"H:i" }}
                            </td>
                            <td class="text-center" id="editarzona{{o.id}}">
                                {% if o.zona == None %}Sin zona
                                {% else %}
                                {{o.zona}}
                                {% endif %}
                            </td>
                            <td class="text-center " id="conductor{{o.id}}" style="width: 100px;">
                                {% if o.estado == 'P' %}
                                <select class="form-control js-example-basic-single zona{{o.zona.pk}}"
                                    id="selectviaje{{o.id}}">

                                    {% if o.zona == None %}
                                    {% for y in conductores %}
                                    <option value="{{y.dni}}">{{y.registro}}</option>
                                    {% endfor %}
                                    {% else %}

                                    {% for c in  o.zona.obtenerConductores2 %}
                                    <option value="{{c.dni}}" class="porzona{{c.dni}}">{{c.registro}}</option>
                                    {% endfor %}

                                    {% endif %}
                                </select>

                                {% else %}
                                {{o.conductor.registro}}
                                {% endif %}
                            </td>
                            <td class="text-center" id="completado{{o.id}}">
                                {% if o.estado == 'O' %}
                                <span class="badge badge-secondary">{{o.get_estado_display}}</span></td>
                            <td class="row-actions" id="acompletado{{o.id}}">
                                <a href="#" class="cambiarEstado" id="{{o.id}}"><i
                                        class="os-icon os-icon-arrow-down4"></i></a>
                                <a href="#" class="editar" id="{{o.id}}"><i class="os-icon os-icon-ui-49"></i></a>
                                <a href="#" class="cancelar" id="{{o.id}}"><i
                                        class="os-icon os-icon-cancel-circle"></i></a>
                            </td>
                            {% elif o.estado == 'B' %}
                            <span class="badge badge-primary">{{o.get_estado_display}}</span></td>
                            <td class="row-actions" id="acompletado{{o.id}}">
                                <a href="#" class="editar" id="{{o.id}}"><i class="os-icon os-icon-ui-49"></i></a>
                                <a href="#" class="cancelar" id="{{o.id}}"><i
                                        class="os-icon os-icon-cancel-circle"></i></a>
                            </td>
                            {% elif o.estado == 'C' %}
                            <span class="badge badge-danger">{{o.get_estado_display}}</span></td>
                            <td></td>
                            {% endif %}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>