<div class="tab-pane fade" id="nav-abordo" role="tabpanel" aria-labelledby="nav-abordo-tab">

    <div class="wrapper">
        <div class="col-sm-12 col-lg-12 col-xxl-12">
            <div class="table-responsive">
                <table id="myTable4" width="100%" class="tablas table table-striped table-lightfont">
                    <thead>
                        <tr>
                            <th>
                                Pasajero
                            </th>
                            <th>
                                Origen
                            </th>
                            <th>
                                Destino
                            </th>
                            <th class="sorting_asc">
                                Hora
                            </th>
                            <th>
                                Zona
                            </th>
                            <th>
                                Movil
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Accion
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for b in abordo %}
                        <tr id="viaje{{b.id}}">
                            <td>
                                {{b.pasajero}}
                            </td>
                            <td>
                                <a href="{% url 'detallePedido' b.id %}" target="_blank">{{b.origen_descripcion}}</a>
                            </td>
                            <td>
                                {{b.destino_descripcion}}
                            </td>
                            <td>
                                {{ b.fecha_hora|time:"H:i" }}
                            </td>
                            <td class="text-center">
                                {% if b.zona == None %}Sin zona
                                {% else %}
                                {{b.zona}}
                                {% endif %}
                            </td>
                            <td class="text-center " id="conductor{{b.id}}" style="width: 100px;">
                                {% if b.estado == 'P' %}
                                <select class="form-control js-example-basic-single zona{{b.zona.pk}}"
                                    id="selectviaje{{b.id}}">

                                    {% if b.zona == None %}
                                    {% for y in conductores %}
                                    <option value="{{y.dni}}">{{y.registro}}</option>
                                    {% endfor %}
                                    {% else %}

                                    {% for c in  b.zona.obtenerConductores2 %}
                                    <option value="{{c.dni}}" class="porzona{{c.dni}}">{{c.registro}}</option>
                                    {% endfor %}

                                    {% endif %}
                                </select>

                                {% else %}
                                {{b.conductor.registro}}
                                {% endif %}
                            </td>
                            <td class="text-center" id="estado{{b.id}}">
                                {% if b.estado == 'B' %}
                                <span class="badge badge-primary">{{b.get_estado_display}}</span></td>
                            <td class="row-actions" id="accion{{b.id}}">
                                <a href="#" class="editar" id="{{b.id}}"><i class="os-icon os-icon-ui-49"></i></a>
                                <a href="#" class="cancelar" id="{{b.id}}"><i
                                        class="os-icon os-icon-cancel-circle"></i></a>
                            </td>
                            {% elif b.estado == 'C' %}
                            <span class="badge badge-danger">{{b.get_estado_display}}</span></td>
                            <td></td>
                            {% endif %}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>