{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="content-i">
            <div class="content-box">
              
              
              <div class="row pt-4">
                <div class="col-sm-12">
                  <!--START - Recent Ticket Comments-->
                  <div class="element-wrapper">
                    <h6 class="element-header">
                      Lista de pedidos finalizados
                    </h6>
                    <div class="element-box-tp">
      <!--------------------
      END - Controls Above Table
      ------------------          --><!--------------------
      START - Table with actions
      ------------------  -->
      <div class="table-responsive">
        <table class="table table-bordered table-lg table-v2 table-striped" id="myTable">
          <thead>
            <tr>
              <th>
                Pasajero
              </th>
              <th>
                Origen
              </th>
              <th>
                Destino
              </th>
              <th>
                Fecha
              </th>
              <th>
                Zona
              </th>
              <th>
                Movil
              </th>
              <th>
                Estado
              </th>
            </tr>
          </thead>
          <tbody>
          {% for v in viajes %}
            <tr>
              <td>
                {{v.pasajero}}
              </td>
              <td>
                {{v.origen_descripcion}}
              </td>
              <td>
                {{v.destino_descripcion}}
              </td>
              <td>
                {{v.fecha_hora}}
              </td>
              <td class="text-center">
                {% if v.zona == None %}Sin zona
              {% else %}
                {{v.zona}}
              {% endif %}
              </td>
              <td class="text-center">
                {{v.conductor}}
              </td>
              <td class="text-center">
                  <span class="badge badge-success">Finalizado</span>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
        </div>
                      
                    </div>
                  </div>
                  <!--END - Recent Ticket Comments-->
                </div>
              </div>
            </div>
          </div>
{% endblock content %}
{% block extra_js%}

<script>
    $(document).ready( function () {

    $('#myTable').DataTable({
      language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    }
    },
      );

} );
</script>

    {% endblock extra_js%}