{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="content-i">
  <div class="content-box row">

    <!--nav id="navigation">
      <div class="nav nav-tabs" id="nav-tab" role="tablist" style="margin-bottom: 10px;">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
          aria-controls="nav-home" aria-selected="true">Todos</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
          aria-controls="nav-profile" aria-selected="false">En curso</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
          aria-controls="nav-contact" aria-selected="false">Completados</a>
        <a class="nav-item nav-link" id="nav-abordo-tab" data-toggle="tab" href="#nav-abordo" role="tab"
          aria-controls="nav-abordo" aria-selected="false">A bordo</a>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class="show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="wrapper"-->
    <input id="baseUrl" type="hidden" value="{{ request.get_host }}" />
    <div class="col-sm-12 col-lg-8 col-xxl-8">
      <div class="wrapper">
        <div class="table-responsive">
          <table id="myTable" width="100%" class="tablas table table-striped table-lightfont">
            <thead>
              <tr>
                <th>
                  Pasajero
                </th>
                <th>
                  Origen
                </th>
                <th>
                  Destino
                </th>
                <th class="sorting_asc">
                  Hora
                </th>
                <th>
                  Zona
                </th>
                <th>
                  Movil
                </th>
                <th>
                  Estado
                </th>
                <th>
                  Accion
                </th>
              </tr>
            </thead>
            <tbody>
              {% for v in viajes %}
              <tr id="viaje{{v.id}}">
                <td>
                  {{v.comentario}}
                </td>
                <td>
                  <a href="{% url 'detallePedido' v.id %}" target="_blank">{{v.origen_descripcion}}</a>
                  <a href="#" data-target="#exampleModal1" data-toggle="modal"><i class="fa fa-info-circle"></i></a>
                </td>
                <td>
                  {{v.destino_descripcion}}
                </td>
                <td>
                  {{ v.fecha_hora|date:"j" }}-{{ v.fecha_hora|time:"H:i" }}
                </td>
                <td class="text-center" id="editarzona{{v.id}}">
                  {% if v.zona == None %}
                  Sin zona
                  {% else %}
                  {{v.zona.number}}
                  {% endif %}
                </td>
                <td class="text-center" id="conductor{{v.id}}" style="width: 100px;">
                  {% if v.estado == 'P' %}
                  <select class="form-control js-example-basic-single zona{{v.zona.pk}}" id="selectviaje{{v.id}}">

                    {% if v.zona == None %}
                    {% for y in conductores %}
                    <option value="{{y.dni}}">{{y.registro}}</option>
                    {% endfor %}
                    {% else %}

                    {% for c in  v.zona.obtenerConductores2 %}
                    <option value="{{c.dni}}" class="porzona{{c.dni}}">{{c.registro}}</option>
                    {% endfor %}

                    {% endif %}
                  </select>

                  {% else %}
                  {{v.conductor.registro}}
                  {% endif %}
                </td>
                <td class="text-center" id="estado{{v.id}}">
                  {% if v.estado == 'P' %}
                  <span class="badge badge-warning">{{v.get_estado_display}}</span></td>

                <td class="row-actions" id="accion{{v.id}}">
                  <a href="#" class="cambiarEstado" id="{{v.id}}"><i class="os-icon os-icon-arrow-down4"></i></a>
                  <a href="#" class="editarZona" id="{{v.id}}"><i class="os-icon os-icon-ui-49"></i></a>
                  <a href="#" class="cancelar" id="{{v.id}}"><i class="os-icon os-icon-cancel-circle"></i></a>
                </td>
                {% elif v.estado == 'E' %}
                <span class="badge badge-secondary">{{v.get_estado_display}}</span></td>
                <td class="row-actions" id="accion{{v.id}}">
                  <a href="#" class="cambiarEstado" id="{{v.id}}"><i class="os-icon os-icon-arrow-down4"></i></a>
                  <a href="#" class="editar" id="{{v.id}}"><i class="os-icon os-icon-ui-49"></i></a>
                  <a href="#" class="cancelar" id="{{v.id}}"><i class="os-icon os-icon-cancel-circle"></i></a>
                </td>
                {% elif v.estado == 'O' %}
                <span class="badge badge-secondary">{{v.get_estado_display}}</span></td>
                <td class="row-actions" id="accion{{v.id}}">
                  <a href="#" class="cambiarEstado" id="{{v.id}}"><i class="os-icon os-icon-arrow-down4"></i></a>
                  <a href="#" class="editar" id="{{v.id}}"><i class="os-icon os-icon-ui-49"></i></a>
                  <a href="#" class="cancelar" id="{{v.id}}"><i class="os-icon os-icon-cancel-circle"></i></a>
                </td>
                {% elif v.estado == 'B' %}
                <span class="badge badge-primary">{{v.get_estado_display}}</span></td>
                <td class="row-actions" id="accion{{v.id}}">
                  <a href="#" class="editar" id="{{v.id}}"><i class="os-icon os-icon-ui-49"></i></a>
                  <a href="#" class="cancelar" id="{{v.id}}"><i class="os-icon os-icon-cancel-circle"></i></a>
                </td>
                {% elif v.estado == 'C' %}
                <span class="badge badge-danger">{{v.get_estado_display}}</span></td>
                <td></td>
                {% endif %}



              </tr>
              <div aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal1" role="dialog" tabindex="-1"
                style="display: none;" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">{{v.comentario}} - {{v.origen_descripcion}}</h5>
                      <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                          aria-hidden="true"> ×</span></button>
                    </div>
                    <div class="modal-body">
                      <p>{{v.comentario}}</p>
                    </div>
                    <div class="modal-footer"><button class="btn btn-secondary" data-dismiss="modal" type="button">
                        Cerrar</button></div>
                  </div>
                </div>
              </div>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/div>
      </div>

      <!-- Viajes En curso 
      {% include 'pedidos_encurso_partial.html' %}
      <!-- Viajes Completados 
      {% include 'pedidos_completados_partial.html' %}
      <!-- Viajes a Bordo 
      {% include 'pedidos_abordo_partial.html' %}

    </div-->
    <!--Fin TAB Content-->

    <div class="col-sm-12 col-lg-4 col-xxl-4">
      <div class="wrapper2">
        <div class="content-panel compact color-scheme-dark" style="min-height: 100vh;">
          <div class="element-wrapper compact">
            <div class="element-actions actions-only">
              <a class="element-action element-action-fold" href="#"><i class="os-icon os-icon-minus-circle"></i></a>
            </div>
            <h6 class="element-header" style="margin-bottom: 0.5rem;">
              Asignar movil a zona
            </h6>
            <div class="element-box-tp">
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for=""> Zona</label>
                    <select class="form-control js-example-basic-single" id="select1" style="width: 100%;">
                      {% for z in zonas %}
                      <option value="{{z.pk}}" number="{{z.number}}">{{z.number}}-{{z.nombre}}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="col-4">
                  <div class="form-group trobil">
                    <label for=""> Movil</label>
                    <select class="form-control js-example-basic-single" id="select2" style="width: 100%;">
                      {% for c in conductores %}
                      <option value="{{c.dni}}">{{c.registro}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for=""> </label>
                    <div class="chat-btn">
                      <a class="btn btn-primary asignarZona" href="#">Confirmar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="element-wrapper compact">
            <div class="element-actions actions-only">
              <a class="element-action element-action-fold" href="#"><i class="os-icon os-icon-minus-circle"></i></a>
            </div>
            <h6 class="element-header" style="margin-bottom: 0.5rem;">
              Conductores por zona
            </h6>
            <div class="element-box-tp">
              <div class="row no-gutters">
                {% for z in zonas %}
                <div class="containerZonas col-sm text-center" id="lista{{z.id}}">
                  <div class="header no-drag">
                    <div class="name">{{z.number}}</div>
                    <strong id="count{{z.id}}" class="badge badge-danger">{{z.obtenerConductores2.count}}</strong>
                  </div>
                  <div class="itemes" id="itemes{{z.id}}">
                    {% for x in  z.obtenerConductores2 %}
                    {% if x.esAbonado == "true" %}
                    <div class="item" id="{{x.dni}}">
                      <div class="inactivo quitarZona" id="{{x.dni}}" style="cursor: pointer;">{{x.registro}}</div>
                    </div>
                    {% else %}
                    <div class="itemRojo" id="{{x.dni}}">
                      <div class="inactivo quitarZona" id="{{x.dni}}" style="cursor: pointer;">{{x.registro}}</div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="snackbar"></div>


    </div>
    {% endblock content %}

    {% block extra_js%}
    <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
    <script src="{% static 'js/quick_access.js'%}"></script>
    <script src="{% static 'js/init_components.js'%}"></script>
    <script src="{% static 'js/dragdrop_movil_zona.js'%}"></script>
    <script src="{% static 'js/websockets_handle.js'%}"></script>

    <style>
      .mapclass {
        /* all maps */
        width: 500px;
        height: 200px;
      }
    </style>

    {% endblock extra_js%}