{% extends "base.html" %}



{% block content  %}
   
<div class="content-w">
          <div class="content-i">
            <div class="content-box">
              <div id="map" style="height: 100vh;"></div>
  </div>
  </div>
 </div>
{% endblock %}


{% block extra_js%}
<script type="text/javascript">
 	
  var data = {{zonas_json}};
  //sample data values for populate map
  var map = new L.Map('map', {zoom: 14, center: new L.latLng([-27.484687, -58.817716]) });  //set center from first location
  map.addLayer(new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')); //base layer
  ////////////populate map with markers from sample data
  for(i in data) {
  	const poligono = data[i].poli.coordinates[0];
  	var array=[];

  	//bucle para dar vuelta todos los puntos del poligono xq me vienen al reves
  	for(j in poligono) {
  		var elemento = [poligono[j][1], poligono[j][0]];
  		array.push(elemento);
  	}

  	

  	
  	var poly = L.polygon(array).addTo(map);


//tooltip para el poligono
  	poly.bindTooltip(data[i].nombre,
   {permanent: true, direction:"center"}
  ).openTooltip();

  	//para darle colores random a las zonas
  	var color;
	var r = Math.floor(Math.random() * 255);
	var g = Math.floor(Math.random() * 255);
	var b = Math.floor(Math.random() * 255);
	color= "rgb("+r+" ,"+g+","+ b+")"; 

  	poly.setStyle({
    color: color
});

  }
 
 
  
</script>

{% endblock extra_js%}