<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <!-- textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/ -->
    <input id="chat-message-submit" type="button" value="Send"/>
    <div class="wrapper">
        <button>Mostrar viajes</button>
        <table class="table"></table>
    </div>
</body>
<script>
    var None = "";
    var roomName = {{ room_name_json }};
    var viajes = {{ viajes_json }};
    
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        //document.querySelector('#chat-log').value += (message + '\n');
        cargar_datos(message);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    /*document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };*/

    document.querySelector('#chat-message-submit').onclick = function(e) {
        /*var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';*/
    };
  

    $(".wrapper").on("click", function(){    
        $('table').append("<thead><tr><th>ID</th><th>DNI</th><th>Conductor</th><th>Pasajero</th><th>Fecha</th><th>Origen</th><th>Destino</th><th>Estado</th></tr></thead>");
        $.each(viajes, function(i, item) {
            var tr = $('<tr>').append(
                $('<td>').text(item.id),
                $('<td>').text(item.dni_cond),
                $('<td>').text(item.nombre_conductor),
                $('<td>').text(item.nombre_pasajero),
                $('<td>').text(item.fecha_hora),
                $('<td>').text(item.origen_descripcion),
                $('<td>').text(item.destino_descripcion),
                $('<td>').text(item.estado)
            ); 
            $('table').prepend(tr);
        });
        $(".wrapper").append($('table'));
        $(".wrapper button").hide();
    });

    cargar_datos = function(viaje_datos){
        //var response = $.parseJSON(viajes_datos);
        var tr = $('<tr>').append(
            $('<td>').text(viaje_datos.id),
            $('<td>').text(viaje_datos.dni_cond),
            $('<td>').text(viaje_datos.nombre_conductor),
            $('<td>').text(viaje_datos.nombre_pasajero),
            $('<td>').text(viaje_datos.fecha_hora),
            $('<td>').text(viaje_datos.origen_descripcion),
            $('<td>').text(viaje_datos.destino_descripcion),
            $('<td>').text(viaje_datos.estado)
        ); 
        $('table').prepend(tr);
    };
</script>
</html>